.profile_content_login_membership{
    width:75%;
    margin:0 auto;
    padding:6vw;
}

.user_photo{
   width:20%;
   margin:0 auto; 
}

.user_detail{
    text-align: center;
}

.fb{
    width:75%;
    margin:0 auto;
}

.fb p{
    text-align: center;
    font-size: 24px;
}

.fb_iframe_widget{
    width: 100%;
    text-align: center;
}